@charset "utf-8";

/* ----------------------------------------------------------------------------------------------------
    ## font-family: 'Nanum Square', sans-serif;
    ## Weight Type - 4 Type
       font-weight: 300;
       font-weight: 400;
       font-weight: 700;
       font-weight: 900;
---------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: 'Nanum Square';
    src: url('../fonts/NanumSquare/NanumSquareLight.eot');
    src: url('../fonts/NanumSquare/NanumSquareLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumSquare/NanumSquareLight.woff') format('woff'),
         url('../fonts/NanumSquare/NanumSquareLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Square';
    src: url('../fonts/NanumSquare/NanumSquareRegular.eot');
    src: url('../fonts/NanumSquare/NanumSquareRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumSquare/NanumSquareRegular.woff') format('woff'),
         url('../fonts/NanumSquare/NanumSquareRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Square';
    src: url('../fonts/NanumSquare/NanumSquareBold.eot');
    src: url('../fonts/NanumSquare/NanumSquareBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumSquare/NanumSquareBold.woff') format('woff'),
         url('../fonts/NanumSquare/NanumSquareBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Square';
    src: url('../fonts/NanumSquare/NanumSquareExtraBold.eot');
    src: url('../fonts/NanumSquare/NanumSquareExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumSquare/NanumSquareExtraBold.woff') format('woff'),
         url('../fonts/NanumSquare/NanumSquareExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
