@charset "utf-8";

/* ----------------------------------------------------------------------------------------------------
    ## font-family: 'Spoqa Han Sans2', sans-serif;
    ## Weight Type - 4 Type
       font-weight: 100;
       font-weight: 300;
       font-weight: 400;
       font-weight: 700;
---------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: 'Spoqa Han Sans2';
    src: local('Spoqa Han Sans Thin'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Thin.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Thin.woff') format('woff'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Spoqa Han Sans2';
    src: local('Spoqa Han Sans Light'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Light.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Light.woff') format('woff'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Spoqa Han Sans2';
    src: local('Spoqa Han Sans Regular'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Regular.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Regular.woff') format('woff'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Spoqa Han Sans2';
    src: local('Spoqa Han Sans Bold'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Bold.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Bold.woff') format('woff'),
    url('../fonts/SpoqaHanSans2/ko/SpoqaHanSans2-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}