@charset "utf-8";

/* ----------------------------------------------------------------------------------------------------
    ## font-family: 'Spoqa Han Sans JP', sans-serif;
    ## Weight Type - 3 Type
       font-weight: 200;
       font-weight: 400;
       font-weight: 700;
---------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: 'Spoqa Han Sans JP';
    src: url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Thin.eot');
    src: local('SpoqaHanSansJP-Thin'),
         local('SpoqaHanSansJP-Thin'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Thin.svg') format('svg'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Thin.ttf') format('truetype'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Spoqa Han Sans JP';
    src: url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Thin.eot');
    src: local('SpoqaHanSansJP-Regular'),
         local('SpoqaHanSansJP-Regular'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Regular.svg') format('svg'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Regular.ttf') format('truetype'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Spoqa Han Sans JP';
    src: url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Thin.eot');
    src: local('SpoqaHanSansJP-Bold'),
         local('SpoqaHanSansJP-Bold'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Bold.svg') format('svg'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Bold.ttf') format('truetype'),
         url('../fonts/SpoqaHanSans/jp/SpoqaHanSansJP-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
